<%= stylesheet_link_tag 'messages' %>
<div>
<div class="title">Messages</div>
<div>
  <%= sync partial: 'message_row', collection: @messages %>
  <%= sync_new partial: 'message_row', resource: Message.new %>
</div>





    <div class="bottom_wrapper">
      <%= form_for @new_message, remote: true do |f| %>
          say  <%= f.text_field :body, class: 'message_input_wrapper' %>
      <% end %>
    </div>

</div>
