<nav class="collapse navbar-collapse navbar-inverse">
  <form class="form-inline">
    <div id="user_nav">
      <%= link_to 'SG chat', root_path, class: 'navbar-brand' %>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
            <li class="text-muted">
              <%= link_to profile_path do %>
                <%= current_user.username %>
              <% end %>
            </li>
            <li class="text-muted">
              <%= link_to 'My conversations', conversations_path %>
            </li>
            <li class="round-image-50">
              <%= image_tag @users = current_user.avatar.url(:thumb) %>
            </li>
            <li class="text-muted">
              <%= link_to 'Log out', destroy_user_session_path, :method => :delete %>
            </li>
        <% else %>
            <li class="text-muted">
              <%= link_to 'Sign in', new_user_session_path %>
            </li>
            <li class="text-muted">
              <%= link_to 'Sign up', new_user_registration_path %>
            </li>
        <% end %>
      </ul>
    </div>
  </form>
</nav>
